body {
	padding-top: 50px;
}
.sub-header {
	padding-bottom: 10px; border-bottom-color: rgb(238, 238, 238); border-bottom-width: 1px; border-bottom-style: solid;
}
.navbar{
	background-color:#5eace8;
	margin-bottom: 0;
}
.navbar-fixed-top {
	border: 0px currentColor; border-image: none;
}
.sidebar {
	display: none;
}
@media all and (min-width:768px)
{
.sidebar {
	padding: 20px; left: 0px; top: 51px; bottom: 0px; border-right-color: rgb(238, 238, 238); border-right-width: 1px; border-right-style: solid; display: block; position: fixed; z-index: 1000; -ms-overflow-x: hidden; -ms-overflow-y: auto; background-color: rgb(245, 245, 245);
}
}
.nav-sidebar {
	margin-right: -21px; margin-bottom: 20px; margin-left: -20px;
}
.nav-sidebar > li > a {
	padding-right: 20px; padding-left: 20px;
}
.nav-sidebar > .active > a {
	color: rgb(255, 255, 255); background-color: rgb(66, 139, 202);
}
.nav-sidebar > .active > a:hover {
	color: rgb(255, 255, 255); background-color: rgb(66, 139, 202);
}
.nav-sidebar > .active > a:focus {
	color: rgb(255, 255, 255); background-color: rgb(66, 139, 202);
}
.main {
	padding: 20px;
}
@media all and (min-width:768px)
{
.main {
	padding-right: 40px; padding-left: 40px;
}
}
.main .page-header {
	margin-top: 0px;
}
.placeholders {
	text-align: center; margin-bottom: 30px;
}
.placeholders h4 {
	margin-bottom: 0px;
}
.placeholder {
	margin-bottom: 20px;
}
.placeholder img {
	border-radius: 50%; display: inline-block;
}

/* TR */

.table_bg {
	font-family: Arial, Helvetica, sans-serif; font-size: 15px;
	height:22px;
	text-align:center;
	/*width:20px;*/
	font-weight:bold;
	background:url(../img/bgTableHeader.png);
	background-repeat:repeat-x;
	/*color:#FFF;*/
	vertical-align:auto;
}

.TdProfileBlue
	{
	font-family: verdana,arial,helvetica;
	font-size: 12px;
	font-weight:bold;
	/*height:28px;*/
	background-color:#F5F9FC /*#BFD2EC;  lightblue="#e0f0f9"; darkyellow="#cccc99" */
	/*border: 1 solid gray;
	padding: 1; 2; 
	margin: 0;
	white-space: nowrap;*/
  	}
	
.TdProfileGrey
	{
	font-family: verdana,arial,helvetica;
	font-size: 12px;
	/*height:28px;*/
	background-color:#ECEAEA; /*#e5e5e5 lightblue="#e0f0f9"; darkyellow="#cccc99" */
	/*border: 1 solid gray;
	padding: 1; 2; 
	margin: 0;
	white-space: nowrap;*/
  	}
