/* Author's custom styles */
/*input[readonly], input[readonly="readonly"]{cursor: default;-moz-user-select: none;user-select: none;}*/

.clockIcon { border: 1px solid; border-color: #d0d0d0; height: 35px; padding: 10px; background-color: #f0f0f0; border-radius: 4px; }
.height30 { height: 30px; }
.height35 { height: 35px; padding-left: 10px; }
.height45 { height: 45px; }
.height200 { height: 200px; }
.width200 { width: 200px; }
.colorBlue { color: #337ab7; }
.colorGrey { color: #a0a0a0; }
.colorMediumGrey { color: #848484; }
.colorDarkGrey { color: #333333; }
.colorRed { color: #ff0000; }
.fontBold { font-weight: bold; }
.fontItalic { font-style: italic; }
.fontSize12 { font-size: 12px; }
.fontVertMiddle { display: inline-block; vertical-align: middle; float: none; }
.boxBorder { border: 1px solid; border-color: #c0c0c0; padding: 6px; border-radius: 5px; }
.borderColorRed { border: 1px solid; border-color: #880000; padding: 6px; border-radius: 5px; }
.borderColorGreen { border: 1px solid; border-color: #003300; padding: 6px; border-radius: 5px; }
.borderColorGrey { border: 1px solid; border-color: #d3d3d3; padding: 6px; border-radius: 5px; }
.boxGlypho { border: 1px solid; border-color: #c0c0c0; padding: 4px; background-color: #f0f0f0; }
.backgroundGrey { background-color: #f0f0f0; }
.backgroundLightBlue { background-color: #CED8F6; }
.backgroundWhite { background-color: #FFFFFF; }
.backgroundBlue { background-color: #337ab7; }
.blueLine { color:#337ab7; background-color:#337ab7; height:15px; }
.marginRight3 { margin-right:3px; }
.marginRight10 { margin-right:10px; }
.marginLeft0 { margin-left: 0px; }
.marginLeft5 { margin-left:5px; }
.marginLeft10 { margin-left: 10px; }
.marginLeft20 { margin-left: 20px; }
.marginLeft25 { margin-left: 25px; }
.marginLeft50 { margin-left: 50px; }
.marginTop0 { margin-top: 0; }
.marginTop2 { margin-top: 2px; }
.marginTop3 { margin-top: 3px; }
.marginTop5 { margin-top: 5px; }
.marginTop10 { margin-top: 10px; }
.marginTop15 { margin-top: 15px; }
.marginTop20 { margin-top: 20px }
.marginBottom0 { margin-bottom: 0; }
.marginBottom5 { margin-bottom: 5px; }
.marginBottom10 { margin-bottom: 10px; }
.marginBottom20 { margin-bottom: 20px; }
.marginBottom40 { margin-bottom: 40px; }

.padding5 { padding: 5px; }
.padding10 { padding: 10px; }
.paddingLeft10 { padding-left: 10px; }
.paddingLeft20 { padding-left: 20px; }
.paddingLeft25 { padding-left: 25px; }
.paddingLeft50 { padding-left: 50px; }
.paddingTop5 { padding-top: 5px; }
.paddingTop10 { padding-top: 10px; }
.paddingTop20 { padding-top: 20px; }
.paddingBottom5 { padding-bottom: 5px; }
.paddingBottom10 { padding-bottom: 10px; }
.paddingBottom20 { padding-bottom: 20px; }
.paddingRight5 { padding-right: 5px; }

.required:before{
  content: "*";
  color: red;
  font-weight: bold;
  padding-right: 5px;
}

.navbar-nav {
  padding-top: 15px;
}

.leftItem {
  padding-left: 15px;
}

.container-fluid {
  background-color: #5eace8;
}

.navbar-default .navbar-nav>li>a {
  color: #FFF;
}

/* Large Devices, Wide Screens */
@media only screen and (max-width : 1200px) {

}

/* Tablet styles */
@media screen and (max-width: 992px) {
  .container-fluid {
    padding: 0px;
  }
}

/* Phonw horizontal */
@media only screen and (max-width : 768px) {
  .navbar-toggle {
    background-color: #5EACE8;
    border-color: #DDD;
    margin-right: 0px;
  }

  .icon-bar {
    background-color: #FFF;
  }

  .navbar-nav {
    padding-top: 5px;
  }

  .navbar-collapse {
    padding-left: 30px;
  }
}


/* Extra Small Devices, Phones */
@media only screen and (max-width : 480px) {
  .navbar-form {
    margin: 0px;
  }

  .navbar {
    margin-bottom: 0;
  }

  .navbar-toggle {
    background-color: #5EACE8;
    border-color: #DDD;
    margin-right: 0px;
  }

  .icon-bar {
    background-color: #FFF;
  }

  .navbar-nav {
    padding-top: 5px;
  }

  .navbar-collapse {
    padding-left: 30px;
  }
}

/* Custom, iPhone Retina */
@media only screen and (max-width : 320px) {

}

.vcenter {
  /*float: none;*/
  color: #000000;
  font-size: 14px;
  /*position: absolute; */
  margin-top: 1.5em; 
}

a:hover, a:visited, a:link, a:active
{ text-decoration: none; }