<cfcomponent>
	<cfset This.SessionManagement = true>
  <cfset This.Sessiontimeout="#createtimespan(0,8,0,0)#">
	<cfset This.applicationtimeout="#createtimespan(0,8,0,0)#">

	<cffunction name="onRequestStart">
		<cfset REQUEST.Datasource = "CHS_Dev">       

	</cffunction>

	<cffunction name="onRequestEnd">
	</cffunction>

</cfcomponent>