<div class="container-fluid bg-primary" style="padding-top:2px; padding-bottom:2px; margin-right:-10px; margin-left:-10px" align="center">
    <i class="fa fa-home"></i>
    <!---
    <a class="btn btn-xs btn-danger" href="#">Open Issue</a>
    
        <a class="btn btn-xs btn-danger" href="#">Open Issue</a>
        <a class="btn btn-xs btn-default" href="#"><i class="fa fa-bookmark text-success"></i> Oncology</a>
        <a class="btn btn-xs btn-default" href="#"><i class="fa fa-bookmark text-primary"> HPP</i></a>
        <a class="btn btn-xs btn-default" href="#"><i class="fa fa-bookmark text-warning"> Pt Preferences</i></a>
        <a class="btn btn-xs btn-default" href="#"><i class="fa fa-bookmark text-danger"></i> Pressure</a>		
        --->		
</div>